[submodule "deps/hwinfo"]
	path = deps/hwinfo
	url = https://github.com/lfreist/hwinfo.git
	branch = main
[submodule "deps/nlohmann_json"]
	path = deps/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "deps/libudev-zero"]
	path = deps/libudev-zero
	url = https://github.com/illiliti/libudev-zero.git
	branch = master
